<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Fundraiser Page</title>
    <link rel="stylesheet" href="../static/Fundraiser/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/Fundraiser/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/Fundraiser/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="../static/Fundraiser/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../static/Fundraiser/css/Simple-Slider.css">
    <link rel="stylesheet" href="../static/Fundraiser/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="/index">CryptPool</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/explore">Explore</a></li>
                    <li class="nav-item"><a class="nav-link" href="/CreateFundraiser">Create Fundraiser</a></li>
                    <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Menu </a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url({{ fundraiser['img1'] }});"></div>
                <div class="swiper-slide" style="background-image:url({{ fundraiser['img2'] }});"></div>
                <div class="swiper-slide" style="background-image:url({{ fundraiser['img3'] }});"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ fundraiser['title'] }} </h1>
                </div>
                <div class="col-md-6 text-center">
                    <a href='/donate/{{ fundraiser["id"] }}'>
                    <button class="btn btn-primary text-center" type="button" style="background: var(--cyan);font-size: 37px;" >Donate</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <p><b>Closing Date:</b> {{ fundraiser['date'] }} | <b>Location:</b> {{ fundraiser['location'] }} | <b>Category:</b> {{ fundraiser['category'] }} <br><b>Description:</b> {{ fundraiser['description'] }} &nbsp;</p> 
        <p><b>Recent Donations:</b></p>
        {% for donation in donations %}
        <p> Display Name: {{ donation['display'] }} <br> Asset Code: {{ donation['asset'] }} | Quantity: {{ donation['quantity'] }} <br> Message: {{ donation['message'] }} </p>
        {% endfor %} 
    </div>
    <div class="container">
        <div style="height: 73px;"></div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="index.html#mb-5">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>CryptPool</h3>
                        <p>CryptPool is a fundraising platform that is currently supported globally and uses Stellar to make transactions in all supported assets, including cryptocurrencies and fiat currencies. Donations to fundraisers through CryptPool are instant, secure, and almost feeless (10^-5 XLM per transaction ~ around 0.0003 cents).</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">CryptPool © 2021</p>
            </div>
        </footer>
    </div>
    <div></div>
    <script src="../static/Fundraiser/js/jquery.min.js"></script>
    <script src="../static/Fundraiser/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="../static/Fundraiser/js/Simple-Slider.js"></script>
</body>

</html>